import(TraMineR)

  importFrom("stats", "cor", "as.dendrogram", "as.dist", "dist", "heatmap", "var")
  importFrom("utils", "combn")
    
export(assoc.domains,seq_heatmap,seq2qha,seqi1epi,seqinepi,seqifpos,seqmds.stress,seqsmooth,symPLS)